body{
  background-color: #17141F !important;
  color: #ADB5BD !important;
}
br
{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


.loader {
  border: 16px solid black; /* Light grey */
  border-top: 16px solid #6f42c1; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#progressBar {
  transition: width 1s ease; /* Adjust the duration and timing function as needed */
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.youtubeInput{
  max-width: 35%;
}
.recentAudiosWidthText{
  max-width: 70%;
}
.recentAudiosBox{
  padding-left: 18%; 
  padding-right: 18%;
}

@media (max-width: 800px) {
  .card-container {
    justify-content: center;
    margin: 0;
  }
  .youtubeInput{
    max-width: 85%;
  }
  .recentAudiosBox{
    padding-left: 3%; 
    padding-right: 3%;
  }
}